<%
=begin%>
 <form action="/users" accept-charset="UTF-8" method="post" data-turbo="false">
<input
type="hidden"
name="authenticity_token"
value="<%= form_authenticity_token %>"
>

    <div>
        <label for="username">UserName:
            <input type="text" name="user[username]" id="username">
        </label>
    </div>
    <div>
        <label for="email">Email: 
            <input type="email" name="user[email]" id="email">
        </label>
    </div>
    <div>
        <label for="password">Password: 
            <input type="password" name="user[password]" id="password">
        </label>
    </div>
    <div>
        <input type="submit" value="Submit Form">
    </div>
</form> 
<%
=end%>

<%= form_with url: "/users", method: :post  do |form| %>
   <%= form.label :username, "Username:" %>
   <%= form.text_field :username, placeholder: "e.g Johnsome1" %>
   <%= form.label :email, "Email:" %>
   <%= form.email_field :email, placeholder: "example@someone.com" %>
   <%= form.label :password, "Password:" %>
   <%= form.password_field :password %>
   <%= form.submit "Submit Form" %>
<% end %>
